@import url(css/reset.css);
@import url(fonts/icon.css);
@import url(css/box.css);
/*this is pubilc elment start*/
body{font-size: 100%}
html,body { font: 14px "Microsoft YaHei", Helvetica, Arial, Lucida Grande, Tahoma, sans-serif; color: #444; line-height: 180%; background: #f1f1f1; }
article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }
a:hover { color: #2f889a; }
a:visited { color: #555; }
a:hover, a:active { outline: 0; }
a { color: #444; text-decoration: none; }

/*this is pubilc elment end*/
.clear { clear: both; display: block; }
.a_c { display: block; margin: 0 auto; }
.full { width: 100%; }
.bg_w{background:#ffffff; }
.p_r{position: relative;}

.fontsmall { }
/*this is header*/
header#header, footer#footer { background: #2c3e50; color: #adadad; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
#logo {height: 180px; overflow: hidden; }
.logo-tag { position: relative; width: 160px; height: 160px; border-radius: 88px; margin: 10px auto; overflow: hidden; box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3); }
.logosvg { position: absolute; margin-top: 20px; margin-left: 15px; }
.logo-tag:hover { animation: logo 1s linear alternate infinite; }
.top-navber-tag { background: rgb(239, 239, 239); z-index: 10; }
.fixedNav { position: fixed; top: 0; }
nav#navber { text-align: center; width: 145px; border-radius: 5px; }
nav#navber>div.navber-buttn { color: rgba(239, 239, 239, 0.8); line-height: 25px; border-radius: 0 0 2px 2px; background: -webkit-linear-gradient(0deg, #334f6b, #2c3e50, #334f6b); /* Safari 5.1 - 6.0 */ background: -o-linear-gradient(0deg, #334f6b, #2c3e50, #334f6b); /* Opera 11.1 - 12.0 */ background: -moz-linear-gradient(0deg, #334f6b, #2c3e50, #334f6b); /* Firefox 3.6 - 15 */ background: linear-gradient(0deg, #334f6b, #2c3e50, #334f6b); /* 标准的语法（必须放在最后） */ box-shadow: 0 0px 4px #667470; }
nav#navber>div.navber-buttn:hover { background: #334f6b; box-shadow: 0 0px 0px #667470; color: #EFEFEF; text-shadow: 0 0 13px #ffffff; }
nav#navber>div.menu { position: absolute; display: none; width: 145px; line-height: 30px; }
nav#navber:hover div.menu { display: block; }
nav#navber div.menu ul li { background: -webkit-linear-gradient(0deg, #334f6b, #2c3e50, #334f6b); /* Safari 5.1 - 6.0 */ background: -o-linear-gradient(0deg, #334f6b, #2c3e50, #334f6b); /* Opera 11.1 - 12.0 */ background: -moz-linear-gradient(0deg, #334f6b, #2c3e50, #334f6b); /* Firefox 3.6 - 15 */ background: linear-gradient(0deg, #334f6b, #2c3e50, #334f6b); /* 标准的语法（必须放在最后） */ box-shadow: 0 0px 4px #667470; border-top: 1px solid rgba(255, 255, 255, 0.5); border-bottom: 1px solid rgba(0, 0, 0, 0.7); }
nav#navber div.menu ul li a { color: rgba(239, 239, 239, 0.8); display: block; text-decoration: none; }
nav#navber div.menu ul li a:hover { background: #334f6b; color: #EFEFEF; text-shadow: 0 0 13px #ffffff; }

/*footer*/
footer#footer { height: 30px; clear: both; margin-top: 20px; }

/*container*/
#returnTop { z-index: 5000; position: fixed; bottom: 50px; right: 10px;  text-shadow: 0 5px 4px #414141; color: #2c3e50; }
#search { clear: both; float: right; background: #ff0; width: 100px; }
#AD { height: 230px; margin-bottom: 10px; }

/*aaaaaaaaaaaaaaaaaa*/
.archive-time-list { border-bottom: 1px #eee solid; position: relative; padding-bottom: 4px; margin: 10px }
.archives li { list-style: none; }
.archives li a { padding: 8px 0; display: block }
.archives li a:hover .atitle:after { background: #ff5c43 }
.archives li a span { display: inline-block; width: 100px; text-indent: 20px }
.archives li a .atitle { display: inline-block; padding: 0 15px; position: relative }
.archives li a .atitle:after { position: absolute; left: -6px; background: #ccc; height: 8px; width: 8px; border-radius: 6px; top: 8px; content: "" }
.archives li a .atitle:before { position: absolute; left: -8px; background: #fff; height: 12px; width: 12px; border-radius: 6px; top: 6px; content: "" }
.archives { position: relative; padding: 10px 0 }
.archives:before { height: 100%; width: 4px; background: #eee; position: absolute; left: 100px; content: ""; top: 0 }
.m-title { position: relative; margin: 10px 0; cursor: pointer }
.m-title:hover:after { background: #ff5c43 }
.m-title:before { position: absolute; left: 93px; background: #fff; height: 18px; width: 18px; border-radius: 6px; top: 3px; content: "" }
.m-title:after { position: absolute; left: 96px; background: #ccc; height: 12px; width: 12px; border-radius: 6px; top: 6px; content: "" }

/*.post { float: left;width: 50%; padding: 15px; border: 1px solid #ddd; box-shadow: none; }
*/

.thumbnail { position: relative; float: left; max-width: 200px; height: auto; clear: both; margin: 1px 20px 0 0; overflow: hidden; transition-duration: .5s; }
.air8.last figure.thumbnail { margin: 1px 15px 0 0; max-width: 120px; }
.thumbnail a img { float: left; width: auto; height: auto; max-width: 100%; }
.thumbnail a img { -webkit-transition: -webkit-transform .3s linear; -moz-transition: -moz-transform .3s linear; -o-transition: -o-transform .3s linear; transition: transform .3s linear; }
.tag-article.container { position: absolute; bottom: 14px; color: #999; left: 150px; }
.widget { margin: 0 0 10px 0; border: 1px solid #ddd; border-radius: 2px; box-shadow: 0 1px 1px rgba(0, 0, 0, .04); }
.widget h3 { background: #f8f8f8; height: 40px; line-height: 40px; border-bottom: 1px solid #ddd; }
#cat ul { padding: 15px; }
ul li { list-style: none; }
#crumbs > li { display: inline-block; }
div#breadcrumb { margin-bottom: 10px; }
#crumbs { padding: 10px; }

/*单页文章*/
.content{padding: 15px 15px 0 15px;}
.entry-header h1 { position: relative;  line-height: 30px; text-align: center; margin:35px -15px 20px -15px; padding: 5px 20px; border-left: 5px solid #2f889a; border-right: 5px solid #2f889a; }
.single-content {  line-height: 1.8; }
.single-content img, .comment-list p img { max-width: 100%; width: auto\9; height: auto; vertical-align: middle; display: block; }
.single-content p, .single-content ul, .single-content ol, .single-content dd, .single-content pre, .single-content hr { margin: 0 0 5px 0; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; word-wrap: break-word; word-break: break-all; text-justify: inter-ideograph; }
.single-content p { text-indent: 2em; }
.single-content a, .single-content a:visited { color: #2f889a; }
.single-content h3 {  line-height: 190%; margin: 2px -11px 10px -11px; padding: 0 44px; border-left: 5px solid #2f889a; }
.single-content h2 {  line-height: 190%; margin: 10px -11px; padding: 0 44px; border-left: 5px solid #e40000; }
blockquote { width: 98%; color: #8b8b8b; margin: 0 auto; padding: 1px; clear: both; border: 1px dashed #ddd; }
blockquote, q { -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

/*文章分页*/

/*微信二维码*/
.s-weixin-one { width: 400px; margin: 10px auto 20px; }
.weimg-one { padding: 5px; border: 1px dashed #ccc; }
.weimg-one img { float: left; width: 30%; height: auto; margin: 0 10px 0 0; }
.ad-site img { max-width: 100%; width: auto; height: auto; }
a img { border: 0; }

/*分享&赞*/
#social { position: relative; margin: 50px auto; }
.social-main { position: relative; margin: 0 auto; width: 243px; }
.social-main span { float: left; }
.like a { background: #fff; width: 120px; display: block; border: 1px solid #ddd; }
.like a { float: left; padding-left: 15px; }
.social-main a { color: #999; line-height: 36px; border-radius: 2px; }
#share { position: absolute; top: -60px; right: -29px; width: 302px; height: 68px; display: none; z-index: 999; }

/*分页下面广告*/
.entry-content .ad-pc { margin: 0 0 30px 0; text-align: center; }
.entry-content .ad-site { background: transparent; border: 0; box-shadow: none; border-radius: 0; }
.ad-pc, .ad-l, .ad-r { text-align: center; }
.ad-site { background: #fff; margin: 0 0 10px 0; padding-top: 20px; border: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0, 0, 0, .04); border-radius: 2px; overflow: hidden; }

/*各种小功能*/
.single-meta { position: absolute; top: 15px; right: 15px; }
#fontsize { position: absolute; top: 15px; left: 20px; line-height: 24px; width: 40px; text-align: center; padding: 0 0 1px 0; cursor: pointer; border: 1px solid #ddd; border-radius: 2px; }
.single-cat-tag { background: #f8f8f8; line-height: 28px; height: 45px; padding: 10px 0; overflow: hidden; border-bottom: 1px solid #ddd; border-radius: 0 0 2px 2px; }
ul.single-meta > li { float: left; }
.single-meta .views, .single-meta li a { color: #999; line-height: 26px; margin: 0 5px 0 0; padding: 0 8px; display: block; border: 1px solid #ddd; border-radius: 2px; }
.single-meta a { color: #999; }
.single-cat { padding: 0 20px; }
.single-cat a { padding: 0 5px; }
.post-like { text-align: center; padding: 10px }
.post-like a { background-color: #21759B; border-radius: 3px; color: #FFFFFF;  padding: 5px 10px; text-decoration: none; outline: none }
.post-like a.done, .post-like a:hover { background-color: #eee; color: #21759B; }
.post-like a.done { cursor: not-allowed }
.thumbnail a img, .related-site-img a img, .single-goods-img a img, .insets a img, .picture-img a img, .tao-img a img, #at-top .small-thumbnail a img, .format-img a img, .gr-thumbnail a img { -webkit-transition: -webkit-transform .3s linear; -moz-transition: -moz-transform .3s linear; -o-transition: -o-transform .3s linear; transition: transform .3s linear; }
@keyframes logo {
	0 { box-shadow: rgba(244, 251, 249, 1) 0 0 5px, rgba(225, 250, 251, 0.8) 0 0 15px, rgba(225, 165, 251, 0.6) 0 0 20px, rgba(36, 160, 233, 0.4) 0 0 25px; }
	50% { box-shadow: rgba(244, 251, 249, 1) 0 0 20px, rgba(225, 250, 251, 0.8) 0 0 40px, rgba(225, 165, 251, 0.6) 0 0 60px, rgba(36, 160, 233, 0.4) 0 0 80px; }
	100% { box-shadow: rgba(244, 251, 249, 1) 0 0 30px, rgba(225, 250, 251, 0.8) 0 0 60px, rgba(225, 165, 251, 0.6) 0 0 90px, rgba(36, 160, 233, 0.4) 0 0 120px; }
}